.center{
  text-align: center;
}

.links-container {
  text-align: right;
  margin-top: 5px;
  a {
    margin-left: 10px;
  }
}

input.hidden {
  position: absolute; 
  left: -9999px; 
  width: 1px; 
  height: 1px;
}

a.icon {
  text-decoration : none;
  color : #000; 
}

a.icon.inverse {
  text-decoration : none;
  color : #FFF;  
}