.search-form-navbar {
  padding-top: 16px;
  .form-group {
    width: 80%;
    .select2-container {
      width: 100%;
      font-size: 18px;
    }
    .select2-choice {
      height: 35px;
    }
  }

  .select-region {
    height: 35px;
    margin-left: 5px;
  }
}

nav.navbar {
  height: 75px;
  margin-bottom: 0px;
  border: 0;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Standard syntax */
}

.navbar-header {
  color: white;
  .navbar-logo {
    width: 260px;
    margin-top: 22px;
  }
} 

.no-margin {
  padding: 0 !important;
}

.shadow-rectangle {
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-top: 25px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  width: 500px;
  height: 82vh;
  background-color: rgba(0, 0, 0, .8);
  border: 2px solid #75796A; 
}

.champ-info {
  min-height: 280px;
}

.content {
  img.sprite {
    height: 70px;
    align-content: center;
  }

  h1, h2, h3, h4, p, table tr td {
    color: white;
  }

  h1.champ-name {
    margin-top: 0 ;
  }

  h2.left {
    float: left;
  }

  a.icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .explanation {
    margin: 15px;
    color: #595976;
  }

  .title {
    max-height: 80px;
    height: 270px;
    line-height: 80px;
    h2 {
      position: relative;
      bottom: 0;
    }
  }

  .scrollable {
    width: 100%;
    margin-bottom: 15px;
    overflow: auto;
    border: 1px solid #AAA;
  }

  td.yellow {
    color: #EBA204;
  }
}