.search-explain {
  margin: 20px auto 0px auto;
  width: 70%;
}

form.search-form {
  margin: 50px auto 100px auto;
  .form-group {
    width: 60%;
    .select2-container {
      width: 95%;
      font-size: 24px;
    }
    .select2-choice {
      height: 45px;
    }
  }
}

.desc-main {
  margin: 140px auto 0px auto;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 25px;
  padding: 20px;
  width: 40%;
  color: wheat;
}
